In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, trange

crimen = pd.read_csv("../CSV_limpios/crimen_v2.csv")
aire = pd.read_csv("../CSV_limpios/aire_v2.csv")

In [2]:
df_crimen = pd.read_csv("../CSV_limpios/crimen_noEs.csv")
df_aire = pd.read_csv("../CSV_limpios/aire_noEs.csv")

In [3]:
crimen

,Dia,Mes,Anio,Estacion,Alcaldia,Latitud,Longitud,countCrimenes
0,1,1,2016,Ajusco,TLALPAN,19.154285,-99.162613,1
1,1,1,2016,Aragon,GUSTAVO A MADERO,19.470219,-99.074547,1
2,1,1,2016,Azcapotzalco,AZCAPOTZALCO,19.487728,-99.198654,2
3,1,1,2016,Benito Juarez,BENITO JUAREZ,19.370464,-99.159599,2
4,1,1,2016,Camarones,MIGUEL HIDALGO,19.468405,-99.169792,1
...,...,...,...,...,...,...,...,...
99218,31,12,2020,UAM Iztapalapa,IZTAPALAPA,19.360794,-99.073883,3
99219,31,12,2020,UAM Xochimilco,COYOACAN,19.304441,-99.103630,1
99220,31,12,2020,Unidad Movil,AZCAPOTZALCO,19.482239,-99.147141,1
99221,31,12,2020,Vallejo,GUSTAVO A MADERO,19.522436,-99.165703,4
99222,31,12,2020,Xochimilco,XOCHIMILCO,19.267065,-99.118256,1

In [4]:
aire

,Dia,Mes,Anio,Estacion,Alcaldia,Latitud,Longitud,avgAQI
0,1,1,2016,Ajusco,TLALPAN,19.154285,-99.162613,34
1,1,1,2016,Ajusco Medio,TLALPAN,19.272161,-99.207741,158
2,1,1,2016,Benito Juarez,BENITO JUAREZ,19.370464,-99.159599,184
3,1,1,2016,Camarones,AZCAPOTZALCO,19.468405,-99.169792,207
4,1,1,2016,Centro de Ciencias de la Atmosfera,COYOACAN,19.326111,-99.176109,47
...,...,...,...,...,...,...,...,...
29198,31,12,2020,Santa FE,CUAJIMALPA DE MORELOS,19.357357,-99.262863,97
29199,31,12,2020,Santiago Acahualtepec,IZTAPALAPA,19.345610,-99.009384,25
29200,31,12,2020,Tlahuac,TLAHUAC,19.246458,-99.010567,35
29201,31,12,2020,UAM Iztapalapa,IZTAPALAPA,19.360794,-99.073883,115
29202,31,12,2020,UAM Xochimilco,COYOACAN,19.304441,-99.103630,30

In [5]:
aire["avgAQI"].min()

1

In [10]:
df_aire_2 = aire[(aire['avgAQI'] > 15)]
df_aire_2

,Dia,Mes,Anio,Estacion,Alcaldia,Latitud,Longitud,avgAQI
0,1,1,2016,Ajusco,TLALPAN,19.154285,-99.162613,34
1,1,1,2016,Ajusco Medio,TLALPAN,19.272161,-99.207741,158
2,1,1,2016,Benito Juarez,BENITO JUAREZ,19.370464,-99.159599,184
3,1,1,2016,Camarones,AZCAPOTZALCO,19.468405,-99.169792,207
4,1,1,2016,Centro de Ciencias de la Atmosfera,COYOACAN,19.326111,-99.176109,47
...,...,...,...,...,...,...,...,...
29198,31,12,2020,Santa FE,CUAJIMALPA DE MORELOS,19.357357,-99.262863,97
29199,31,12,2020,Santiago Acahualtepec,IZTAPALAPA,19.345610,-99.009384,25
29200,31,12,2020,Tlahuac,TLAHUAC,19.246458,-99.010567,35
29201,31,12,2020,UAM Iztapalapa,IZTAPALAPA,19.360794,-99.073883,115
29202,31,12,2020,UAM Xochimilco,COYOACAN,19.304441,-99.103630,30

In [21]:
occur = df_crimen.groupby(['Alcaldia']).size()
occur

Alcaldia
ALVARO OBREGON           1827
AZCAPOTZALCO             1817
BENITO JUAREZ            1806
COYOACAN                 1823
CUAJIMALPA DE MORELOS    1391
CUAUHTEMOC               1827
GUSTAVO A MADERO         1827
IZTACALCO                1822
IZTAPALAPA               1827
MIGUEL HIDALGO           1812
MILPA ALTA               1251
TLAHUAC                  1778
TLALPAN                  1823
VENUSTIANO CARRANZA      1826
dtype: int64

In [19]:
occurr = df_aire.groupby(['Alcaldia']).size()
occurr

Alcaldia
ALVARO OBREGON           1734
AZCAPOTZALCO             1492
BENITO JUAREZ            1746
COYOACAN                 4053
CUAJIMALPA DE MORELOS    3293
CUAUHTEMOC               1532
GUSTAVO A MADERO         2152
IZTACALCO                1589
IZTAPALAPA               2247
MIGUEL HIDALGO           1674
MILPA ALTA               1487
TLAHUAC                  1687
TLALPAN                  2746
VENUSTIANO CARRANZA      1771
dtype: int64

In [20]:
#crimen.drop(crimen[crimen["Alcaldia"] == "LA MAGDALENA CONTRERAS"])
df_crimen = df_crimen[(df_crimen['Alcaldia'] != "LA MAGDALENA CONTRERAS") & (df_crimen['Alcaldia'] != "XOCHIMILCO")]

In [25]:
id_list = []

for i in trange(len(df_aire)):
    id_new = str(df_aire['Dia'][i]) + '_' + str(df_aire['Mes'][i]) + '_' + str(df_aire['Anio'][i]) + '_' + df_aire['Alcaldia'][i][0:5]
    id_list.append(id_new)

df_aire['ID'] = id_list
df_aire

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29203/29203 [00:00<00:00, 29211.87it/s]

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
0,1,1,2016,ALVARO OBREGON,19.325146,-99.204140,53,1_1_2016_ALVAR
1,1,1,2016,AZCAPOTZALCO,19.468405,-99.169792,207,1_1_2016_AZCAP
2,1,1,2016,BENITO JUAREZ,19.370464,-99.159599,184,1_1_2016_BENIT
3,1,1,2016,COYOACAN,19.304441,-99.103630,43,1_1_2016_COYOA
4,1,1,2016,COYOACAN,19.326111,-99.176109,47,1_1_2016_COYOA
...,...,...,...,...,...,...,...,...
29198,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,20,31_12_2020_MIGUE
29199,31,12,2020,MILPA ALTA,19.176901,-98.990189,36,31_12_2020_MILPA
29200,31,12,2020,TLAHUAC,19.246458,-99.010567,35,31_12_2020_TLAHU
29201,31,12,2020,TLALPAN,19.154285,-99.162613,27,31_12_2020_TLALP
29202,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,127,31_12_2020_VENUS

In [43]:
occurr = df_aire.groupby(['ID']).size()
occurr.value_counts()

1    18275
2     4633
3      554
dtype: int64

In [40]:
df_crimen = df_crimen.reset_index(drop=True)

In [41]:
id_list_crimen = []

for i in range(len(df_crimen)):
    id_new_crimen = str(df_crimen['Dia'][i]) + '_' + str(df_crimen['Mes'][i]) + '_' + str(df_crimen['Anio'][i]) + '_' + df_crimen['Alcaldia'][i][0:5]
    id_list_crimen.append(id_new_crimen)

df_crimen['ID'] = id_list_crimen
df_crimen

       Dia  Mes  Anio               Alcaldia  countCrimenes                ID
0        1    1  2016         ALVARO OBREGON              5    1_1_2016_ALVAR
1        1    1  2016           AZCAPOTZALCO              4    1_1_2016_AZCAP
2        1    1  2016          BENITO JUAREZ              4    1_1_2016_BENIT
3        1    1  2016               COYOACAN              6    1_1_2016_COYOA
4        1    1  2016  CUAJIMALPA DE MORELOS              5    1_1_2016_CUAJI
...    ...  ...   ...                    ...            ...               ...
24452   31   12  2020             IZTAPALAPA             15  31_12_2020_IZTAP
24453   31   12  2020         MIGUEL HIDALGO              3  31_12_2020_MIGUE
24454   31   12  2020                TLAHUAC              3  31_12_2020_TLAHU
24455   31   12  2020                TLALPAN              4  31_12_2020_TLALP
24456   31   12  2020    VENUSTIANO CARRANZA             14  31_12_2020_VENUS

[24457 rows x 6 columns]

In [42]:
occurr = df_crimen.groupby(['ID']).size()
occurr.value_counts()

1    24457
dtype: int64

In [44]:
duplicateRows = df_aire[df_aire.duplicated(['ID'])]
duplicateRows

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
4,1,1,2016,COYOACAN,19.326111,-99.176109,47,1_1_2016_COYOA
5,1,1,2016,COYOACAN,19.350258,-99.157104,48,1_1_2016_COYOA
14,1,1,2016,TLALPAN,19.272161,-99.207741,158,1_1_2016_TLALP
20,2,1,2016,COYOACAN,19.326111,-99.176109,27,2_1_2016_COYOA
21,2,1,2016,COYOACAN,19.350258,-99.157104,26,2_1_2016_COYOA
...,...,...,...,...,...,...,...,...
29169,29,12,2020,IZTAPALAPA,19.360794,-99.073883,157,29_12_2020_IZTAP
29179,30,12,2020,COYOACAN,19.326111,-99.176109,41,30_12_2020_COYOA
29183,30,12,2020,IZTAPALAPA,19.360794,-99.073883,137,30_12_2020_IZTAP
29193,31,12,2020,COYOACAN,19.326111,-99.176109,29,31_12_2020_COYOA
29197,31,12,2020,IZTAPALAPA,19.360794,-99.073883,115,31_12_2020_IZTAP

In [45]:
duplicateRows["Alcaldia"].value_counts()

COYOACAN                 2241
CUAJIMALPA DE MORELOS    1466
TLALPAN                  1069
IZTAPALAPA                510
GUSTAVO A MADERO          455
Name: Alcaldia, dtype: int64

In [52]:
coords_COYOACAN = duplicateRows[(duplicateRows['Alcaldia'] == "COYOACAN")]
coords_COYOACAN = coords_COYOACAN.reset_index(drop=True)
coords_COYOACAN

      Dia  Mes  Anio  Alcaldia    Latitud   Longitud  avgAQI                ID
0       1    1  2016  COYOACAN  19.326111 -99.176109      47    1_1_2016_COYOA
1       1    1  2016  COYOACAN  19.350258 -99.157104      48    1_1_2016_COYOA
2       2    1  2016  COYOACAN  19.326111 -99.176109      27    2_1_2016_COYOA
3       2    1  2016  COYOACAN  19.350258 -99.157104      26    2_1_2016_COYOA
4       3    1  2016  COYOACAN  19.326111 -99.176109       3    3_1_2016_COYOA
...   ...  ...   ...       ...        ...        ...     ...               ...
2236   27   12  2020  COYOACAN  19.326111 -99.176109      31  27_12_2020_COYOA
2237   28   12  2020  COYOACAN  19.326111 -99.176109      30  28_12_2020_COYOA
2238   29   12  2020  COYOACAN  19.326111 -99.176109      44  29_12_2020_COYOA
2239   30   12  2020  COYOACAN  19.326111 -99.176109      41  30_12_2020_COYOA
2240   31   12  2020  COYOACAN  19.326111 -99.176109      29  31_12_2020_COYOA

[2241 rows x 8 columns]

In [53]:
lat_COYOACAN = coords_COYOACAN["Latitud"][0]
lon_COYOACAN = coords_COYOACAN["Longitud"][0]

In [54]:
coords_CUAJIMALPA = duplicateRows[(duplicateRows['Alcaldia'] == "CUAJIMALPA DE MORELOS")]
coords_CUAJIMALPA = coords_CUAJIMALPA.reset_index(drop=True)

lat_CUAJIMALPA = coords_CUAJIMALPA["Latitud"][0]
lon_CUAJIMALPA = coords_CUAJIMALPA["Longitud"][0]

coords_CUAJIMALPA

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
0,1,4,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,77,1_4_2016_CUAJI
1,2,4,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,79,2_4_2016_CUAJI
2,3,4,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,109,3_4_2016_CUAJI
3,4,4,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,138,4_4_2016_CUAJI
4,5,4,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,145,5_4_2016_CUAJI
...,...,...,...,...,...,...,...,...
1461,13,7,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,49,13_7_2020_CUAJI
1462,14,7,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,57,14_7_2020_CUAJI
1463,15,7,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,48,15_7_2020_CUAJI
1464,16,7,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,49,16_7_2020_CUAJI
1465,17,7,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,43,17_7_2020_CUAJI

In [55]:
coords_TLALPAN = duplicateRows[(duplicateRows['Alcaldia'] == "TLALPAN")]
coords_TLALPAN = coords_TLALPAN.reset_index(drop=True)

lat_TLALPAN = coords_TLALPAN["Latitud"][0]
lon_TLALPAN = coords_TLALPAN["Longitud"][0]

In [56]:
coords_IZTAPALAPA = duplicateRows[(duplicateRows['Alcaldia'] == "IZTAPALAPA")]
coords_IZTAPALAPA = coords_IZTAPALAPA.reset_index(drop=True)

lat_IZTAPALAPA = coords_IZTAPALAPA["Latitud"][0]
lon_IZTAPALAPA = coords_IZTAPALAPA["Longitud"][0]

In [57]:
coords_GUSTAVO = duplicateRows[(duplicateRows['Alcaldia'] == "GUSTAVO A MADERO")]
coords_GUSTAVO = coords_GUSTAVO.reset_index(drop=True)

lat_GUSTAVO = coords_GUSTAVO["Latitud"][0]
lon_GUSTAVO = coords_GUSTAVO["Longitud"][0]

In [58]:
duplicateRows = duplicateRows.reset_index(drop=True)

In [64]:
duplicateRows[duplicateRows["Alcaldia"] == "COYOACAN"]

      Dia  Mes  Anio  Alcaldia    Latitud   Longitud  avgAQI                ID
0       1    1  2016  COYOACAN  19.326111 -99.176109      47    1_1_2016_COYOA
1       1    1  2016  COYOACAN  19.326111 -99.176109      48    1_1_2016_COYOA
3       2    1  2016  COYOACAN  19.326111 -99.176109      27    2_1_2016_COYOA
4       2    1  2016  COYOACAN  19.326111 -99.176109      26    2_1_2016_COYOA
6       3    1  2016  COYOACAN  19.326111 -99.176109       3    3_1_2016_COYOA
...   ...  ...   ...       ...        ...        ...     ...               ...
5731   27   12  2020  COYOACAN  19.326111 -99.176109      31  27_12_2020_COYOA
5733   28   12  2020  COYOACAN  19.326111 -99.176109      30  28_12_2020_COYOA
5735   29   12  2020  COYOACAN  19.326111 -99.176109      44  29_12_2020_COYOA
5737   30   12  2020  COYOACAN  19.326111 -99.176109      41  30_12_2020_COYOA
5739   31   12  2020  COYOACAN  19.326111 -99.176109      29  31_12_2020_COYOA

[2241 rows x 8 columns]

In [67]:
duplicateRows["Latitud"] = latitud
duplicateRows["Longitud"] = longitud

In [65]:
latitud = []
longitud = []


for i in trange(len(duplicateRows)):
    if(duplicateRows["Alcaldia"][i] == "COYOACAN"):
        latitud.append(lat_COYOACAN)
        longitud.append(lon_COYOACAN)
    elif(duplicateRows["Alcaldia"][i] == "CUAJIMALPA DE MORELOS"):
        latitud.append(lat_CUAJIMALPA)
        longitud.append(lon_CUAJIMALPA)
    elif(duplicateRows["Alcaldia"][i] == "TLALPAN"):
        latitud.append(lat_TLALPAN)
        longitud.append(lon_TLALPAN)
    elif(duplicateRows["Alcaldia"][i] == "IZTAPALAPA"):
        latitud.append(lat_IZTAPALAPA)
        longitud.append(lon_IZTAPALAPA)
    elif(duplicateRows["Alcaldia"][i] == "GUSTAVO A MADERO"):
        latitud.append(lat_GUSTAVO)
        longitud.append(lon_GUSTAVO)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5741/5741 [00:00<00:00, 63786.75it/s]

In [68]:
duplicateRows

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
0,1,1,2016,COYOACAN,19.326111,-99.176109,47,1_1_2016_COYOA
1,1,1,2016,COYOACAN,19.326111,-99.176109,48,1_1_2016_COYOA
2,1,1,2016,TLALPAN,19.272161,-99.207741,158,1_1_2016_TLALP
3,2,1,2016,COYOACAN,19.326111,-99.176109,27,2_1_2016_COYOA
4,2,1,2016,COYOACAN,19.326111,-99.176109,26,2_1_2016_COYOA
...,...,...,...,...,...,...,...,...
5736,29,12,2020,IZTAPALAPA,19.360794,-99.073883,157,29_12_2020_IZTAP
5737,30,12,2020,COYOACAN,19.326111,-99.176109,41,30_12_2020_COYOA
5738,30,12,2020,IZTAPALAPA,19.360794,-99.073883,137,30_12_2020_IZTAP
5739,31,12,2020,COYOACAN,19.326111,-99.176109,29,31_12_2020_COYOA
5740,31,12,2020,IZTAPALAPA,19.360794,-99.073883,115,31_12_2020_IZTAP

In [73]:
df_aire1 = df_aire.drop_duplicates(subset=['ID'])
df_aire1 = df_aire1.reset_index(drop=True)
df_aire1

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
0,1,1,2016,ALVARO OBREGON,19.325146,-99.204140,53,1_1_2016_ALVAR
1,1,1,2016,AZCAPOTZALCO,19.468405,-99.169792,207,1_1_2016_AZCAP
2,1,1,2016,BENITO JUAREZ,19.370464,-99.159599,184,1_1_2016_BENIT
3,1,1,2016,COYOACAN,19.304441,-99.103630,43,1_1_2016_COYOA
4,1,1,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,171,1_1_2016_CUAJI
...,...,...,...,...,...,...,...,...
23457,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,20,31_12_2020_MIGUE
23458,31,12,2020,MILPA ALTA,19.176901,-98.990189,36,31_12_2020_MILPA
23459,31,12,2020,TLAHUAC,19.246458,-99.010567,35,31_12_2020_TLAHU
23460,31,12,2020,TLALPAN,19.154285,-99.162613,27,31_12_2020_TLALP
23461,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,127,31_12_2020_VENUS

In [74]:
occurr = df_aire1.groupby(['ID']).size()
occurr.value_counts()

1    23462
dtype: int64

In [76]:
df_cimen_1 = df_crimen[df_crimen['ID'].isin(df_aire1['ID'].tolist())]
df_cimen_1 = df_cimen_1.reset_index(drop=True)
df_cimen_1

       Dia  Mes  Anio               Alcaldia  countCrimenes                ID
0        1    1  2016         ALVARO OBREGON              5    1_1_2016_ALVAR
1        1    1  2016           AZCAPOTZALCO              4    1_1_2016_AZCAP
2        1    1  2016          BENITO JUAREZ              4    1_1_2016_BENIT
3        1    1  2016               COYOACAN              6    1_1_2016_COYOA
4        1    1  2016  CUAJIMALPA DE MORELOS              5    1_1_2016_CUAJI
...    ...  ...   ...                    ...            ...               ...
22438   31   12  2020             IZTAPALAPA             15  31_12_2020_IZTAP
22439   31   12  2020         MIGUEL HIDALGO              3  31_12_2020_MIGUE
22440   31   12  2020                TLAHUAC              3  31_12_2020_TLAHU
22441   31   12  2020                TLALPAN              4  31_12_2020_TLALP
22442   31   12  2020    VENUSTIANO CARRANZA             14  31_12_2020_VENUS

[22443 rows x 6 columns]

In [77]:
df_aire_1 = df_aire1[df_aire1['ID'].isin(df_crimen['ID'].tolist())]
df_aire_1 = df_aire_1.reset_index(drop=True)
df_aire_1

,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI,ID
0,1,1,2016,ALVARO OBREGON,19.325146,-99.204140,53,1_1_2016_ALVAR
1,1,1,2016,AZCAPOTZALCO,19.468405,-99.169792,207,1_1_2016_AZCAP
2,1,1,2016,BENITO JUAREZ,19.370464,-99.159599,184,1_1_2016_BENIT
3,1,1,2016,COYOACAN,19.304441,-99.103630,43,1_1_2016_COYOA
4,1,1,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,171,1_1_2016_CUAJI
...,...,...,...,...,...,...,...,...
22438,31,12,2020,IZTAPALAPA,19.345610,-99.009384,25,31_12_2020_IZTAP
22439,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,20,31_12_2020_MIGUE
22440,31,12,2020,TLAHUAC,19.246458,-99.010567,35,31_12_2020_TLAHU
22441,31,12,2020,TLALPAN,19.154285,-99.162613,27,31_12_2020_TLALP
22442,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,127,31_12_2020_VENUS

In [79]:
df_cimen_2 = df_cimen_1.drop_duplicates(subset=['ID'])
df_cimen_2['Latitud'] = 0
df_cimen_2['Longitud'] = 0

In [81]:
occur_a = df_cimen_2.groupby(['Alcaldia']).size()

for i in range(len(occur_a.index.to_list())):
    df_cimen_2['Latitud'].loc[(df_cimen_2['Alcaldia'] == occur_a.index.to_list()[i])] = df_aire_1['Latitud'].loc[(df_aire_1['Alcaldia'] == occur_a.index.to_list()[i])].values[1]
    df_cimen_2['Longitud'].loc[(df_cimen_2['Alcaldia'] == occur_a.index.to_list()[i])] = df_aire_1['Longitud'].loc[(df_aire_1['Alcaldia'] == occur_a.index.to_list()[i])].values[1]

df_cimen_2

C:\Users\dgonz\AppData\Local\Temp\ipykernel_11828\396015390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cimen_2['Latitud'].loc[(df_cimen_2['Alcaldia'] == occur_a.index.to_list()[i])] = df_aire_1['Latitud'].loc[(df_aire_1['Alcaldia'] == occur_a.index.to_list()[i])].values[1]
C:\Users\dgonz\AppData\Local\Temp\ipykernel_11828\396015390.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cimen_2['Longitud'].loc[(df_cimen_2['Alcaldia'] == occur_a.index.to_list()[i])] = df_aire_1['Longitud'].loc[(df_aire_1['Alcaldia'] == occur_a.index.to_list()[i])].values[1]

,Dia,Mes,Anio,Alcaldia,countCrimenes,ID,Latitud,Longitud
0,1,1,2016,ALVARO OBREGON,5,1_1_2016_ALVAR,19.325146,-99.204140
1,1,1,2016,AZCAPOTZALCO,4,1_1_2016_AZCAP,19.468405,-99.169792
2,1,1,2016,BENITO JUAREZ,4,1_1_2016_BENIT,19.370464,-99.159599
3,1,1,2016,COYOACAN,6,1_1_2016_COYOA,19.304441,-99.103630
4,1,1,2016,CUAJIMALPA DE MORELOS,5,1_1_2016_CUAJI,19.365313,-99.291702
...,...,...,...,...,...,...,...,...
22438,31,12,2020,IZTAPALAPA,15,31_12_2020_IZTAP,19.360794,-99.073883
22439,31,12,2020,MIGUEL HIDALGO,3,31_12_2020_MIGUE,19.404051,-99.202660
22440,31,12,2020,TLAHUAC,3,31_12_2020_TLAHU,19.246458,-99.010567
22441,31,12,2020,TLALPAN,4,31_12_2020_TLALP,19.154285,-99.162613
22442,31,12,2020,VENUSTIANO CARRANZA,14,31_12_2020_VENUS,19.424610,-99.119591

In [83]:
df_aire_3 = df_aire_1[['ID', 'Dia', 'Mes', 'Anio', 'Alcaldia', 'Latitud', 'Longitud', 'avgAQI']]
df_aire_3

,ID,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI
0,1_1_2016_ALVAR,1,1,2016,ALVARO OBREGON,19.325146,-99.204140,53
1,1_1_2016_AZCAP,1,1,2016,AZCAPOTZALCO,19.468405,-99.169792,207
2,1_1_2016_BENIT,1,1,2016,BENITO JUAREZ,19.370464,-99.159599,184
3,1_1_2016_COYOA,1,1,2016,COYOACAN,19.304441,-99.103630,43
4,1_1_2016_CUAJI,1,1,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,171
...,...,...,...,...,...,...,...,...
22438,31_12_2020_IZTAP,31,12,2020,IZTAPALAPA,19.345610,-99.009384,25
22439,31_12_2020_MIGUE,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,20
22440,31_12_2020_TLAHU,31,12,2020,TLAHUAC,19.246458,-99.010567,35
22441,31_12_2020_TLALP,31,12,2020,TLALPAN,19.154285,-99.162613,27
22442,31_12_2020_VENUS,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,127

In [84]:
df_cimen_3 = df_cimen_2[['ID', 'Dia', 'Mes', 'Anio', 'Alcaldia', 'Latitud', 'Longitud', 'countCrimenes']]
df_cimen_3

,ID,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,countCrimenes
0,1_1_2016_ALVAR,1,1,2016,ALVARO OBREGON,19.325146,-99.204140,5
1,1_1_2016_AZCAP,1,1,2016,AZCAPOTZALCO,19.468405,-99.169792,4
2,1_1_2016_BENIT,1,1,2016,BENITO JUAREZ,19.370464,-99.159599,4
3,1_1_2016_COYOA,1,1,2016,COYOACAN,19.304441,-99.103630,6
4,1_1_2016_CUAJI,1,1,2016,CUAJIMALPA DE MORELOS,19.365313,-99.291702,5
...,...,...,...,...,...,...,...,...
22438,31_12_2020_IZTAP,31,12,2020,IZTAPALAPA,19.360794,-99.073883,15
22439,31_12_2020_MIGUE,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,3
22440,31_12_2020_TLAHU,31,12,2020,TLAHUAC,19.246458,-99.010567,3
22441,31_12_2020_TLALP,31,12,2020,TLALPAN,19.154285,-99.162613,4
22442,31_12_2020_VENUS,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,14

In [85]:
df_aire_3.iloc[22432:]

,ID,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,avgAQI
22432,31_12_2020_ALVAR,31,12,2020,ALVARO OBREGON,19.325146,-99.204140,114
22433,31_12_2020_AZCAP,31,12,2020,AZCAPOTZALCO,19.468405,-99.169792,26
22434,31_12_2020_BENIT,31,12,2020,BENITO JUAREZ,19.370464,-99.159599,117
22435,31_12_2020_COYOA,31,12,2020,COYOACAN,19.304441,-99.103630,30
22436,31_12_2020_CUAJI,31,12,2020,CUAJIMALPA DE MORELOS,19.357357,-99.262863,97
22437,31_12_2020_GUSTA,31,12,2020,GUSTAVO A MADERO,19.482700,-99.094521,119
22438,31_12_2020_IZTAP,31,12,2020,IZTAPALAPA,19.345610,-99.009384,25
22439,31_12_2020_MIGUE,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,20
22440,31_12_2020_TLAHU,31,12,2020,TLAHUAC,19.246458,-99.010567,35
22441,31_12_2020_TLALP,31,12,2020,TLALPAN,19.154285,-99.162613,27
22442,31_12_2020_VENUS,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,127

In [86]:
df_cimen_3.iloc[22432:]

,ID,Dia,Mes,Anio,Alcaldia,Latitud,Longitud,countCrimenes
22432,31_12_2020_ALVAR,31,12,2020,ALVARO OBREGON,19.325146,-99.204140,7
22433,31_12_2020_AZCAP,31,12,2020,AZCAPOTZALCO,19.468405,-99.169792,8
22434,31_12_2020_BENIT,31,12,2020,BENITO JUAREZ,19.370464,-99.159599,2
22435,31_12_2020_COYOA,31,12,2020,COYOACAN,19.304441,-99.103630,8
22436,31_12_2020_CUAJI,31,12,2020,CUAJIMALPA DE MORELOS,19.365313,-99.291702,2
22437,31_12_2020_GUSTA,31,12,2020,GUSTAVO A MADERO,19.482700,-99.094521,24
22438,31_12_2020_IZTAP,31,12,2020,IZTAPALAPA,19.360794,-99.073883,15
22439,31_12_2020_MIGUE,31,12,2020,MIGUEL HIDALGO,19.404051,-99.202660,3
22440,31_12_2020_TLAHU,31,12,2020,TLAHUAC,19.246458,-99.010567,3
22441,31_12_2020_TLALP,31,12,2020,TLALPAN,19.154285,-99.162613,4
22442,31_12_2020_VENUS,31,12,2020,VENUSTIANO CARRANZA,19.424610,-99.119591,14

In [87]:
occur = df_aire_3.groupby(['Alcaldia']).size()
occur

Alcaldia
ALVARO OBREGON           1734
AZCAPOTZALCO             1482
BENITO JUAREZ            1725
COYOACAN                 1808
CUAJIMALPA DE MORELOS    1391
CUAUHTEMOC               1532
GUSTAVO A MADERO         1697
IZTACALCO                1584
IZTAPALAPA               1737
MIGUEL HIDALGO           1659
MILPA ALTA               1012
TLAHUAC                  1639
TLALPAN                  1673
VENUSTIANO CARRANZA      1770
dtype: int64

In [89]:
occur_1 = df_cimen_3.groupby(['Alcaldia']).size()
occur_1

Alcaldia
ALVARO OBREGON           1734
AZCAPOTZALCO             1482
BENITO JUAREZ            1725
COYOACAN                 1808
CUAJIMALPA DE MORELOS    1391
CUAUHTEMOC               1532
GUSTAVO A MADERO         1697
IZTACALCO                1584
IZTAPALAPA               1737
MIGUEL HIDALGO           1659
MILPA ALTA               1012
TLAHUAC                  1639
TLALPAN                  1673
VENUSTIANO CARRANZA      1770
dtype: int64

In [91]:
from pathlib import Path  
filepath = Path('../CSV_limpios/crimen_for_plots.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_cimen_3.to_csv(filepath)