In [23]:
from geopy.geocoders import Nominatim
import time
import math

import seaborn as sns
import matplotlib.pyplot as plt

import savefig
import pandas as pd
import numpy as np

In [24]:
## Creamos objeto
geo = Nominatim(user_agent="MyApp")

In [5]:
loc = geo.geocode("Nezahualcoyotl")
print(loc)

Nezahualcóyotl, Estado de México, 5700, México

In [6]:
print(loc.latitude, loc.longitude)

19.4079028 -99.0181547

In [98]:
loc_list = [[19.4079028, -99.0181547],
 [19.6389474, -98.9109537],
 [19.3591195, -99.0929294]]

In [99]:
data = []
valor = 0.2
for i in loc_list:
    address = geo.reverse(i)
    print(address, address.latitude, address.longitude)
    x = str(address).split(", ")
    #print(x[1])
    data_1 = []
    data_1.append(address.latitude)
    data_1.append(address.longitude)
    data_1.append(valor)
    valor = valor + 0.2
    #coord_list[].append()
    data.append(data_1)

Módulos de Vacunación COVID-19, Avenida Chimalhuacán, Nezahualcóyotl, Estado de México, 57000, México 19.4082409 -99.0186032
Calle Plaza Principal, Tepexpan, Acolman, Estado de México, 55886, México 19.639112751385742 -98.91090419570317
Conjunto Delegacional de la Delegación Iztapalapa, Calle Ignacio Comonfort, Barrio San Lucas, Iztapalapa, Ciudad de México, 09000, México 19.359077499999998 -99.09282505044679

In [37]:
data

[[19.4079028, -99.0181547, 0.2],
 [19.6389474, -98.9109537, 0.4],
 [19.3591195, -99.0929294, 0.6000000000000001]]

In [3]:
aire = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\aire_2011_2020_v2.csv")

In [4]:
df_aire = pd.DataFrame(aire)

In [7]:
df_aire = df_aire.drop(df_aire.columns[0], axis=1)

In [11]:
df_aire_100 = df_aire.head(100)

In [34]:
list_a = df_aire_100['Lugar'].unique()

In [43]:
list_b = []
for i in list_a:
    i = i+", México"
    list_b.append(i)

In [44]:
list_b

['Acolman, México',
 'Camarones, México',
 'Chalco, México',
 'Cuajimalpa, México',
 'FES Acatlan, México',
 'Iztacalco, México',
 'Los Laureles, México',
 'La Presa, México',
 'Merced, México',
 'Montecillo, México',
 'Nezahualcoyotl, México',
 'Pedregal, México',
 'San Agustin, México',
 'San Juan Aragon, México',
 'Santa Ursula, México',
 'Tlahuac, México',
 'Tlalnepantla, México',
 'Tultitlan, México',
 'Tlalpan, México',
 'UAM Iztapalapa, México',
 'Villa de las Flores, México',
 'Xalostoc, México']

In [103]:
data = []
valor = 0.0
for i in loc_list:
    address = geo.reverse(i)
    #print(address, address.latitude, address.longitude)
    x = str(address).split(", ")
    if "Ciudad de México" in str(address):
        print(address)
    else:
        print("Estado " + str(address))
    #print(address)
    data_1 = []
    data_1.append(address.latitude)
    data_1.append(address.longitude)
    data_1.append(valor)
    valor = valor + 0.01
    #coord_list[].append()
    data.append(data_1)

Estado Módulos de Vacunación COVID-19, Avenida Chimalhuacán, Nezahualcóyotl, Estado de México, 57000, México
Estado Calle Plaza Principal, Tepexpan, Acolman, Estado de México, 55886, México
Conjunto Delegacional de la Delegación Iztapalapa, Calle Ignacio Comonfort, Barrio San Lucas, Iztapalapa, Ciudad de México, 09000, México

In [57]:
cat_estacion = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\cat_estacion.csv")
df_estacion = pd.DataFrame(cat_estacion)

In [104]:
df_aire_v2 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Particula', 'Valor', 'Lugar', 'Estado', 'Latitud', 'Longitud'])

In [72]:
header_list_aire = list(df_aire)
header_list_aire

['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Particula', 'Valor']

In [60]:
df_aire

         Dia  Mes  Anio  Hora                Lugar Particula  Valor
0          1    1  2011   1.0              Acolman        CO  -99.0
1          1    1  2011   1.0            Camarones        CO  -99.0
2          1    1  2011   1.0               Chalco        CO  -99.0
3          1    1  2011   1.0           Cuajimalpa        CO  -99.0
4          1    1  2011   1.0          FES Acatlan        CO    1.4
...      ...  ...   ...   ...                  ...       ...    ...
6489022   31   12  2020  23.0         Tlalnepantla     PM2.5   33.0
6489023   31   12  2020  23.0            Tultitlan     PM2.5  -99.0
6489024   31   12  2020  23.0       UAM Iztapalapa     PM2.5   42.0
6489025   31   12  2020  23.0  Villa de las Flores     PM2.5  178.0
6489026   31   12  2020  23.0             Xalostoc     PM2.5  -99.0

[6489027 rows x 7 columns]

In [ ]:
for j in range(len(df_aire)-1):
    Latitud = cat_estacion.loc[cat_estacion['nom_estac'] == df_aire.loc[j][4]]['latitud'].values[0]
    Longitud = cat_estacion.loc[cat_estacion['nom_estac'] == df_aire.loc[j][4]]['longitud'].values[0]
    address = geo.reverse(str(Latitud) + ", " + str(Longitud))
    #print(address, address.latitude, address.longitude)
    #x = str(address).split(", ")
    Estado = ""
    if "Ciudad de México" in str(address):
        Estado = "Ciudad de México"
        #print(Estado)
    else:
        Estado = "Estado de México"
    #print(address)
    #print(address)
    toAppend = {
        'Dia': df_aire.loc[j][0], 
        'Mes': df_aire.loc[j][1],
        'Anio': df_aire.loc[j][2],
        'Hora': df_aire.loc[j][3], 
        'Lugar': df_aire.loc[j][4],
        'Estado': Estado,
        'Particula': df_aire.loc[j][5],
        'Valor': df_aire.loc[j][6],
        'Latitud': Latitud,
        'Longitud': Longitud}
    df_aire_v2 = df_aire_v2.append(toAppend, ignore_index=True)

In [142]:
df_aire_v2

,Dia,Mes,Anio,Hora,Lugar,Estado,Particula,Valor,Latitud,Longitud
0,1.0,1.0,2011.0,1.0,Acolman,Estado de México,CO,-99.0,19.635501,-98.912003
1,1.0,1.0,2011.0,1.0,Camarones,Ciudad de México,CO,-99.0,19.468404,-99.169794
2,1.0,1.0,2011.0,1.0,Chalco,Estado de México,CO,-99.0,19.266948,-98.886088
3,1.0,1.0,2011.0,1.0,Cuajimalpa,Ciudad de México,CO,-99.0,19.365313,-99.291705
4,1.0,1.0,2011.0,1.0,FES Acatlan,Estado de México,CO,1.4,19.482473,-99.243524
...,...,...,...,...,...,...,...,...,...,...
58836,21.0,4.0,2011.0,12.0,Nezahualcoyotl,Estado de México,CO,-99.0,19.393734,-99.028212
58837,21.0,4.0,2011.0,12.0,Pedregal,Ciudad de México,CO,0.3,19.325146,-99.204136
58838,21.0,4.0,2011.0,12.0,San Agustin,Estado de México,CO,0.4,19.532968,-99.030324
58839,21.0,4.0,2011.0,12.0,San Juan Aragon,Ciudad de México,CO,-99.0,19.452592,-99.086095
58840,21.0,4.0,2011.0,12.0,Santa Ursula,Ciudad de México,CO,0.8,19.314480,-99.149994

In [ ]:
df_aire_v2['Dia'] = df_aire_v2['Dia'].astype('int64') 
df_aire_v2['Mes'] = df_aire_v2['Mes'].astype('int64') 
df_aire_v2['Anio'] = df_aire_v2['Anio'].astype('int64') 
df_aire_v2['Hora'] = df_aire_v2['Hora'].astype('int64')

In [139]:
df_aire_v2 = pd.DataFrame()

In [ ]:
df_aire_v2