In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
co_2010 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2010CO.csv")
co_2011 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2011CO.csv")
co_2012 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2012CO.csv")
co_2013 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2013CO.csv")
co_2014 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2014CO.csv")
co_2015 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2015CO.csv")
co_2016 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2016CO.csv")
co_2017 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2017CO.csv")
co_2018 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2018CO.csv")
co_2019 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2019CO.csv")
co_2020 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2020CO.csv")
cat_estacion = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\cat_estacion.csv")
cat_parametros = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\cat_parametros.csv")
cat_unidades = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\cat_unidades.csv")

In [138]:
co_2012_2 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2012CO.csv")
co_2013_2 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2013CO.csv")

In [142]:
header_list_1 = list(co_2012_2)
header_list_2 = list(co_2013_2)
header_list_2

['FECHA',
 'HORA',
 'ACO',
 'ATI',
 'CAM',
 'CHO',
 'CUA',
 'FAC',
 'HGM',
 'IZT',
 'LLA',
 'LPR',
 'MER',
 'MON',
 'NEZ',
 'PED',
 'SAG',
 'SFE',
 'SJA',
 'SUR',
 'TAH',
 'TLA',
 'TLI',
 'UAX',
 'UIZ',
 'VIF',
 'XAL',
 'Unnamed: 27']

In [144]:
for i in range(len(header_list_2)-2):
        if header_list_2[i+2] == None or header_list_2[i+2].startswith('Unnam'):
            limit = i+2
            break
            #header_list_pm25_2017_v2.pop(i+2)
        
header_list_2 = header_list_2[0 : limit]
print(header_list_2)

['FECHA', 'HORA', 'ACO', 'ATI', 'CAM', 'CHO', 'CUA', 'FAC', 'HGM', 'IZT', 'LLA', 'LPR', 'MER', 'MON', 'NEZ', 'PED', 'SAG', 'SFE', 'SJA', 'SUR', 'TAH', 'TLA', 'TLI', 'UAX', 'UIZ', 'VIF', 'XAL']

In [147]:
for j in range(len(co_2012_2)-1):
    
    for i in range(len(header_list_1)-2):
        date = pd.to_datetime(co_2012_2.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2012_2.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_1[i+2]]['nom_estac'].values[0],
        'Valor': co_2012_2.loc[j][i+2]}
        df_co_2012_v5 = df_co_2012_v5.append(toAppend, ignore_index=True)

In [148]:
for j in range(len(co_2013_2)-1):
    
    for i in range(len(header_list_2)-2):
        date = pd.to_datetime(co_2013_2.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2013_2.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_2[i+2]]['nom_estac'].values[0],
        'Valor': co_2013_2.loc[j][i+2]}
        df_co_2013_v5 = df_co_2013_v5.append(toAppend, ignore_index=True)

In [149]:
df_co_2013_v5['Lugar'].unique()

array(['Acolman', 'Atizapan', 'Camarones', 'Chalco', 'Cuajimalpa',
       'FES Acatlan', 'Hospital General de Mexico', 'Iztacalco',
       'Los Laureles', 'La Presa', 'Merced', 'Montecillo',
       'Nezahualcoyotl', 'Pedregal', 'San Agustin', 'Santa FE',
       'San Juan Aragon', 'Santa Ursula', 'Tlahuac', 'Tlalnepantla',
       'Tultitlan', 'UAM Xochimilco', 'UAM Iztapalapa',
       'Villa de las Flores', 'Xalostoc'], dtype=object)

In [3]:
df_co_2010 = pd.DataFrame(co_2010)
df_co_2011 = pd.DataFrame(co_2011)
df_co_2012 = pd.DataFrame(co_2012)
df_co_2013 = pd.DataFrame(co_2013)
df_co_2014 = pd.DataFrame(co_2014)
df_co_2015 = pd.DataFrame(co_2015)
df_co_2016 = pd.DataFrame(co_2016)
df_co_2017 = pd.DataFrame(co_2017)
df_co_2018 = pd.DataFrame(co_2018)
df_co_2019 = pd.DataFrame(co_2019)
df_co_2020 = pd.DataFrame(co_2020)

In [4]:
cat_estacion.loc[cat_estacion['cve_estac'] == 'ACO']['nom_estac']

0    Acolman
Name: nom_estac, dtype: object

In [5]:
header_list = list(co_2010)
len(header_list)

19

In [59]:
df_co_2010_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2011_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2012_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2013_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2014_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2015_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2016_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2017_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2018_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2019_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2020_v4 = pd.DataFrame(columns=['ID','Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])

In [72]:
header_list_co_2011 = list(co_2011)
len(header_list_co_2011)
header_list_co_2014 = list(co_2014)
len(header_list_co_2014)
header_list_co_2015 = list(co_2015)
len(header_list_co_2015)
header_list_co_2016 = list(co_2016)
len(header_list_co_2016)
header_list_co_2017 = list(co_2017)
len(header_list_co_2017)
header_list_co_2018 = list(co_2018)
len(header_list_co_2018)
header_list_co_2019 = list(co_2019)
len(header_list_co_2019)
header_list_co_2020 = list(co_2020)
len(header_list_co_2012)

28

In [74]:
header_list_co_2012 = list(co_2012)
len(header_list_co_2012)

28

In [73]:
header_list_co_2013 = list(co_2013)
len(header_list_co_2013)

28

In [97]:
for j in range(len(co_2011)-1):
    
    for i in range(len(header_list_co_2011)-2):
        date = pd.to_datetime(co_2011.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2011.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2011[i+2]]['nom_estac'].values[0],
        'Valor': co_2011.loc[j][i+2]}
        df_co_2011_v4 = df_co_2011_v4.append(toAppend, ignore_index=True)

In [98]:
for j in range(len(co_2010)-1):
    
    for i in range(17):
        date = pd.to_datetime(co_2010.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2010.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list[i+2]]['nom_estac'].values[0],
        'Valor': co_2010.loc[j][i+2]}
        df_co_2010_v4 = df_co_2010_v4.append(toAppend, ignore_index=True)

In [99]:
for j in range(len(co_2012)-1):
    
    for h in range(len(header_list_co_2012)-3):
        date = pd.to_datetime(co_2012.loc[j][0])
        toAppend = {
        'ID': h, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2012.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2012[h+2]]['nom_estac'].values[0],
        'Valor': co_2012.loc[j][h+2]}
        df_co_2012_v4 = df_co_2012_v4.append(toAppend, ignore_index=True)

In [100]:
for j in range(len(co_2013)-1):
    
    for i in range(len(header_list_co_2013)-3):
        date = pd.to_datetime(co_2013.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2013.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2013[i+2]]['nom_estac'].values[0],
        'Valor': co_2013.loc[j][i+2]}
        df_co_2013_v4 = df_co_2013_v4.append(toAppend, ignore_index=True)

In [101]:
for j in range(len(co_2014)-1):
    
    for i in range(len(header_list_co_2014)-3):
        date = pd.to_datetime(co_2014.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2014.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2014[i+2]]['nom_estac'].values[0],
        'Valor': co_2014.loc[j][i+2]}
        df_co_2014_v4 = df_co_2014_v4.append(toAppend, ignore_index=True)

In [102]:
for j in range(len(co_2015)-1):
    
    for i in range(len(header_list_co_2015)-2):
        date = pd.to_datetime(co_2015.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2015.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2015[i+2]]['nom_estac'].values[0],
        'Valor': co_2015.loc[j][i+2]}
        df_co_2015_v4 = df_co_2015_v4.append(toAppend, ignore_index=True)

In [103]:
for j in range(len(co_2016)-1):
    
    for i in range(len(header_list_co_2016)-2):
        date = pd.to_datetime(co_2016.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2016.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2016[i+2]]['nom_estac'].values[0],
        'Valor': co_2016.loc[j][i+2]}
        df_co_2016_v4 = df_co_2016_v4.append(toAppend, ignore_index=True)

In [104]:
for j in range(len(co_2017)-1):
    
    for i in range(len(header_list_co_2017)-2):
        date = pd.to_datetime(co_2017.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2017.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2017[i+2]]['nom_estac'].values[0],
        'Valor': co_2017.loc[j][i+2]}
        df_co_2017_v4 = df_co_2017_v4.append(toAppend, ignore_index=True)

In [105]:
for j in range(len(co_2018)-1):
    
    for i in range(len(header_list_co_2018)-2):
        date = pd.to_datetime(co_2018.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2018.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2018[i+2]]['nom_estac'].values[0],
        'Valor': co_2018.loc[j][i+2]}
        df_co_2018_v4 = df_co_2018_v4.append(toAppend, ignore_index=True)

In [106]:
for j in range(len(co_2019)-1):
    
    for i in range(len(header_list_co_2019)-2):
        date = pd.to_datetime(co_2019.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2019.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2019[i+2]]['nom_estac'].values[0],
        'Valor': co_2019.loc[j][i+2]}
        df_co_2019_v4 = df_co_2019_v4.append(toAppend, ignore_index=True)

In [107]:
for j in range(len(co_2020)-1):
    
    for i in range(len(header_list_co_2020)-2):
        date = pd.to_datetime(co_2020.loc[j][0])
        toAppend = {
        'ID': i, 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': co_2020.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_co_2020[i+2]]['nom_estac'].values[0],
        'Valor': co_2020.loc[j][i+2]}
        df_co_2020_v4 = df_co_2020_v4.append(toAppend, ignore_index=True)

In [143]:
df_co_2010_v4['Lugar'].unique()

array(['Lagunilla', 'Tacuba', 'FES Acatlan', 'Tlalnepantla', 'Xalostoc',
       'Merced', 'Pedregal', 'UAM Iztapalapa',
       'Inst. Mexicano del Petroleo', 'Taxquena', 'Tultitlan',
       'Villa de las Flores', 'San Agustin', 'Vallejo', 'Santa Ursula',
       'Iztacalco', 'Chalco'], dtype=object)

In [144]:
df_co_2011_v4['Lugar'].unique()

array(['Acolman', 'Camarones', 'Chalco', 'Cuajimalpa', 'FES Acatlan',
       'Iztacalco', 'Los Laureles', 'La Presa', 'Merced', 'Montecillo',
       'Nezahualcoyotl', 'Pedregal', 'San Agustin', 'San Juan Aragon',
       'Santa Ursula', 'Tlahuac', 'Tlalnepantla', 'Tultitlan', 'Tlalpan',
       'UAM Iztapalapa', 'Villa de las Flores', 'Xalostoc'], dtype=object)

In [118]:
df_co_2020_v4

        ID Dia Mes  Anio Hora                Lugar Valor
0        0   1   1  2020    1              Acolman   -99
1        1   1   1  2020    1         Ajusco Medio -99.0
2        2   1   1  2020    1             Atizapan -99.0
3        3   1   1  2020    1        Benito Juarez   0.9
4        4   1   1  2020    1            Camarones   0.8
...     ..  ..  ..   ...  ...                  ...   ...
281316  27  31  12  2020   23            Tultitlan -99.0
281317  28  31  12  2020   23       UAM Xochimilco   0.1
281318  29  31  12  2020   23       UAM Iztapalapa   0.3
281319  30  31  12  2020   23  Villa de las Flores   1.7
281320  31  31  12  2020   23             Xalostoc   -99

[281321 rows x 7 columns]

In [170]:
from pathlib import Path  
filepath = Path('E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2011_2020.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_3.to_csv(filepath)

In [140]:
df_co_2011_v4.axes

[RangeIndex(start=0, stop=193202, step=1),
 Index(['ID', 'Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'], dtype='object')]

In [139]:
co_2010_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2010.csv")
co_2011_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2011.csv")
co_2012_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2012.csv")
co_2013_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2013.csv")
co_2014_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2014.csv")
co_2015_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2015.csv")
co_2016_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2016.csv")
co_2017_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2017.csv")
co_2018_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2018.csv")
co_2019_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2019.csv")
co_2020_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2020.csv")

In [141]:
df_co_2010_m = pd.DataFrame(co_2010_m)
df_co_2011_m = pd.DataFrame(co_2011_m)
df_co_2012_m = pd.DataFrame(co_2012_m)
df_co_2013_m = pd.DataFrame(co_2013_m)
df_co_2014_m = pd.DataFrame(co_2014_m)
df_co_2015_m = pd.DataFrame(co_2015_m)
df_co_2016_m = pd.DataFrame(co_2016_m)
df_co_2017_m = pd.DataFrame(co_2017_m)
df_co_2018_m = pd.DataFrame(co_2018_m)
df_co_2019_m = pd.DataFrame(co_2019_m)
df_co_2020_m = pd.DataFrame(co_2020_m)

In [155]:
df_2 = pd.DataFrame()
df_2 = df_2.append(df_co_2011_m, ignore_index=True)

In [156]:
df_2 = df_2.append(df_co_2012_m, ignore_index=True)

In [158]:
df_2 = df_2.append(df_co_2013_m, ignore_index=True)
df_2 = df_2.append(df_co_2014_m, ignore_index=True)
df_2 = df_2.append(df_co_2015_m, ignore_index=True)
df_2 = df_2.append(df_co_2016_m, ignore_index=True)
df_2 = df_2.append(df_co_2017_m, ignore_index=True)
df_2 = df_2.append(df_co_2018_m, ignore_index=True)
df_2 = df_2.append(df_co_2019_m, ignore_index=True)
df_2 = df_2.append(df_co_2020_m, ignore_index=True)

In [164]:
df_2.columns

Index(['Unnamed: 0', 'ID', 'Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'], dtype='object')

In [168]:
df_3 = df_2.drop(['Unnamed: 0','ID'], axis=1)

In [169]:
df_3

         Dia  Mes  Anio  Hora                Lugar  Valor
0          1    1  2011     1              Acolman  -99.0
1          1    1  2011     1            Camarones  -99.0
2          1    1  2011     1               Chalco  -99.0
3          1    1  2011     1           Cuajimalpa  -99.0
4          1    1  2011     1          FES Acatlan    1.4
...      ...  ...   ...   ...                  ...    ...
2484298   31   12  2020    23            Tultitlan  -99.0
2484299   31   12  2020    23       UAM Xochimilco    0.1
2484300   31   12  2020    23       UAM Iztapalapa    0.3
2484301   31   12  2020    23  Villa de las Flores    1.7
2484302   31   12  2020    23             Xalostoc  -99.0

[2484303 rows x 6 columns]

In [4]:
pm25_2010 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2010PM25.csv")
pm25_2011 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2011PM25.csv")
pm25_2012 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2012PM25.csv")
pm25_2013 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2013PM25.csv")
pm25_2014 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2014PM25.csv")
pm25_2015 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2015PM25.csv")
pm25_2016 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2016PM25.csv")
pm25_2017 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2017PM25.csv")
pm25_2018 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2018PM25.csv")
pm25_2019 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2019PM25.csv")
pm25_2020 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2020PM25.csv")

In [251]:
df_pm25_2010 = pd.DataFrame(pm25_2010)
df_pm25_2011 = pd.DataFrame(pm25_2011)
df_pm25_2012 = pd.DataFrame(pm25_2012)
df_pm25_2013 = pd.DataFrame(pm25_2013)
df_pm25_2014 = pd.DataFrame(pm25_2014)
df_pm25_2015 = pd.DataFrame(pm25_2015)
df_pm25_2016 = pd.DataFrame(pm25_2016)
df_pm25_2017 = pd.DataFrame(pm25_2017)
df_pm25_2018 = pd.DataFrame(pm25_2018)
df_pm25_2019 = pd.DataFrame(pm25_2019)
df_pm25_2020 = pd.DataFrame(pm25_2020)

In [287]:
df_pm25_2018 = pd.DataFrame(pm25_2018)
df_pm25_2019 = pd.DataFrame(pm25_2019)

In [173]:
df_pm25_2010_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2011_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2012_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2013_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2014_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2015_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2016_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2017_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2018_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2019_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm25_2020_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])

In [246]:
header_list_pm25_2011 = list(pm25_2011)
header_list_pm25_2012 = list(pm25_2012)
header_list_pm25_2013 = list(pm25_2013)
header_list_pm25_2014 = list(pm25_2014)
header_list_pm25_2015 = list(pm25_2015)
header_list_pm25_2016 = list(pm25_2016)
header_list_pm25_2017 = list(pm25_2017)
header_list_pm25_2018 = list(pm25_2018)
header_list_pm25_2019 = list(pm25_2019)
header_list_pm25_2020 = list(pm25_2020)

In [288]:

for i in range(len(header_list_pm25_2017)-3):
        if header_list_pm25_2017[i+2] == None or header_list_pm25_2017[i+2].startswith('Unnam'):
            limit = i+2
            break
            #header_list_pm25_2017_v2.pop(i+2)
        
header_list_pm25_2017 = header_list_pm25_2017[0 : limit]
print(header_list_pm25_2017)

['FECHA', 'HORA', 'AJM', 'AJU', 'BJU', 'CAM', 'CCA', 'COY', 'GAM', 'HGM', 'INN', 'MER', 'MGH', 'MPA', 'NEZ', 'PED', 'SAG', 'SFE', 'SJA', 'TLA', 'UAX', 'UIZ', 'XAL']

In [289]:
df_pm25_2017 = df_pm25_2017[header_list_pm25_2017]
df_pm25_2017.columns

Index(['FECHA', 'HORA', 'AJM', 'AJU', 'BJU', 'CAM', 'CCA', 'COY', 'GAM', 'HGM',
       'INN', 'MER', 'MGH', 'MPA', 'NEZ', 'PED', 'SAG', 'SFE', 'SJA', 'TLA',
       'UAX', 'UIZ', 'XAL'],
      dtype='object')

In [295]:
df_pm25_2020

,FECHA,HORA,AJM,AJU,BJU,CAM,CCA,COY,FAR,GAM,...,NEZ,PED,SAC,SAG,SFE,SJA,TLA,UAX,UIZ,XAL
0,1/1/2020,1,-99,-99,45,-99,35,-99,45,-99,...,47,43,85,-99,26,-99,41,41,65,-99
1,1/1/2020,2,-99,-99,47,-99,42,-99,97,-99,...,99,58,61,-99,34,-99,47,73,90,-99
2,1/1/2020,3,-99,-99,48,-99,46,-99,117,-99,...,93,69,50,-99,28,-99,52,102,94,-99
3,1/1/2020,4,-99,-99,54,-99,56,-99,79,-99,...,75,72,16,-99,28,-99,54,85,58,-99
4,1/1/2020,5,-99,-99,87,-99,63,-99,48,-99,...,52,72,12,-99,28,-99,44,83,59,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,12/31/2020,20,-99,-99,10,-99,15,-99,18,-99,...,14,2,21,30,14,-99,10,8,11,-99
8780,12/31/2020,21,-99,-99,14,-99,12,-99,23,11,...,19,14,26,27,17,-99,9,9,8,-99
8781,12/31/2020,22,-99,-99,15,-99,14,-99,21,16,...,23,27,21,32,18,-99,9,9,10,-99
8782,12/31/2020,23,-99,-99,20,-99,19,-99,26,22,...,25,46,32,45,19,-99,12,9,21,-99
8783,12/31/2020,24,-99,-99,36,-99,23,-99,32,20,...,28,-99,32,44,20,-99,19,10,28,-99

In [308]:
for j in range(len(pm25_2013)-1):
    
    for i in range(len(header_list_pm25_2013)-2):
        date = pd.to_datetime(pm25_2013.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2013.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2013[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2013.loc[j][i+2]}
        df_pm25_2013_v4 = df_pm25_2013_v4.append(toAppend, ignore_index=True)

In [309]:
for j in range(len(pm25_2014)-1):
    
    for i in range(len(header_list_pm25_2014)-2):
        date = pd.to_datetime(pm25_2014.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2014.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2014[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2014.loc[j][i+2]}
        df_pm25_2014_v4 = df_pm25_2014_v4.append(toAppend, ignore_index=True)

In [310]:
for j in range(len(pm25_2015)-1):
    
    for i in range(len(header_list_pm25_2015)-2):
        date = pd.to_datetime(pm25_2015.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2015.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2015[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2015.loc[j][i+2]}
        df_pm25_2015_v4 = df_pm25_2015_v4.append(toAppend, ignore_index=True)

In [311]:
for j in range(len(pm25_2016)-1):
    
    for i in range(len(header_list_pm25_2016)-2):
        date = pd.to_datetime(pm25_2016.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2016.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2016[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2016.loc[j][i+2]}
        df_pm25_2016_v4 = df_pm25_2016_v4.append(toAppend, ignore_index=True)

In [312]:
for j in range(len(pm25_2017)-1):
    
    for i in range(len(header_list_pm25_2017)-2):
        date = pd.to_datetime(pm25_2017.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2017.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2017[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2017.loc[j][i+2]}
        df_pm25_2017_v4 = df_pm25_2017_v4.append(toAppend, ignore_index=True)

In [313]:
for j in range(len(pm25_2018)-1):
    
    for i in range(len(header_list_pm25_2018)-2):
        date = pd.to_datetime(pm25_2018.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2018.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2018[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2018.loc[j][i+2]}
        df_pm25_2018_v4 = df_pm25_2018_v4.append(toAppend, ignore_index=True)

In [314]:
for j in range(len(pm25_2019)-1):
    
    for i in range(len(header_list_pm25_2019)-2):
        date = pd.to_datetime(pm25_2019.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2019.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2019[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2019.loc[j][i+2]}
        df_pm25_2019_v4 = df_pm25_2019_v4.append(toAppend, ignore_index=True)

In [315]:
for j in range(len(pm25_2020)-1):
    
    for i in range(len(header_list_pm25_2020)-2):
        date = pd.to_datetime(pm25_2020.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm25_2020.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm25_2020[i+2]]['nom_estac'].values[0],
        'Valor': pm25_2020.loc[j][i+2]}
        df_pm25_2020_v4 = df_pm25_2020_v4.append(toAppend, ignore_index=True)

In [5]:
pm25_2011_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2011.csv")
pm25_2012_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2012.csv")
pm25_2013_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2013.csv")
pm25_2014_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2014.csv")
pm25_2015_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2015.csv")
pm25_2016_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2016.csv")
pm25_2017_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2017.csv")
pm25_2018_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2018.csv")
pm25_2019_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2019.csv")
pm25_2020_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2020.csv")

In [6]:
df_pm25_2011_m = pd.DataFrame(pm25_2011_m)
df_pm25_2012_m = pd.DataFrame(pm25_2012_m)
df_pm25_2013_m = pd.DataFrame(pm25_2013_m)
df_pm25_2014_m = pd.DataFrame(pm25_2014_m)
df_pm25_2015_m = pd.DataFrame(pm25_2015_m)
df_pm25_2016_m = pd.DataFrame(pm25_2016_m)
df_pm25_2017_m = pd.DataFrame(pm25_2017_m)
df_pm25_2018_m = pd.DataFrame(pm25_2018_m)
df_pm25_2019_m = pd.DataFrame(pm25_2019_m)
df_pm25_2020_m = pd.DataFrame(pm25_2020_m)

In [18]:
from pathlib import Path  
filepath = Path('E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2011_2020.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_2_pm25.to_csv(filepath)

In [9]:
df_2_pm25 = pd.DataFrame()
df_2_pm25 = df_2_pm25.append(df_pm25_2011_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2012_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2013_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2014_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2015_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2016_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2017_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2018_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2019_m, ignore_index=True)
df_2_pm25 = df_2_pm25.append(df_pm25_2020_m, ignore_index=True)

In [17]:
df_2_pm25 = df_2_pm25.drop(df_2_pm25.columns[0], axis=1)

In [19]:
pm10_2011 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2011PM10.csv")
pm10_2012 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2012PM10.csv")
pm10_2013 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2013PM10.csv")
pm10_2014 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2014PM10.csv")
pm10_2015 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2015PM10.csv")
pm10_2016 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2016PM10.csv")
pm10_2017 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2017PM10.csv")
pm10_2018 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2018PM10.csv")
pm10_2019 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2019PM10.csv")
pm10_2020 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv\\2020PM10.csv")

In [20]:
df_pm10_2011 = pd.DataFrame(pm10_2011)
df_pm10_2012 = pd.DataFrame(pm10_2012)
df_pm10_2013 = pd.DataFrame(pm10_2013)
df_pm10_2014 = pd.DataFrame(pm10_2014)
df_pm10_2015 = pd.DataFrame(pm10_2015)
df_pm10_2016 = pd.DataFrame(pm10_2016)
df_pm10_2017 = pd.DataFrame(pm10_2017)
df_pm10_2018 = pd.DataFrame(pm10_2018)
df_pm10_2019 = pd.DataFrame(pm10_2019)
df_pm10_2020 = pd.DataFrame(pm10_2020)

In [21]:
df_pm10_2011_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2012_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2013_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2014_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2015_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2016_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2017_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2018_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2019_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_pm10_2020_v4 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])

In [22]:
header_list_pm10_2011 = list(pm10_2011)
header_list_pm10_2012 = list(pm10_2012)
header_list_pm10_2013 = list(pm10_2013)
header_list_pm10_2014 = list(pm10_2014)
header_list_pm10_2015 = list(pm10_2015)
header_list_pm10_2016 = list(pm10_2016)
header_list_pm10_2017 = list(pm10_2017)
header_list_pm10_2018 = list(pm10_2018)
header_list_pm10_2019 = list(pm10_2019)
header_list_pm10_2020 = list(pm10_2020)

In [48]:
header_list_pm10_2018 = list(pm10_2018)

In [47]:
for i in range(len(header_list_pm10_2017)-3):
        if header_list_pm10_2017[i+2] == None or header_list_pm10_2017[i+2].startswith('Unnam'):
            limit = i+2
            break
            #header_list_pm10_2017_v2.pop(i+2)
        
header_list_pm10_2017 = header_list_pm10_2017[0 : limit]
print(header_list_pm10_2017)

['FECHA', 'HORA', 'ACO', 'AJM', 'ATI', 'BJU', 'CAM', 'CHO', 'CUA', 'CUT', 'FAC', 'HGM', 'INN', 'IZT', 'LLA', 'LPR', 'MER', 'MGH', 'MPA', 'PED', 'SAG', 'SFE', 'TAH', 'TLA', 'TLI', 'UIZ']

In [55]:
df_pm10_2019 = df_pm10_2019[header_list_pm10_2019]
df_pm10_2019.columns

Index(['FECHA', 'HORA', 'ACO', 'AJM', 'ATI', 'BJU', 'CAM', 'CHO', 'CUA', 'CUT',
       'FAC', 'FAR', 'GAM', 'HGM', 'INN', 'IZT', 'MER', 'MGH', 'MPA', 'PED',
       'SAC', 'SAG', 'SFE', 'TAH', 'TLA', 'TLI', 'UIZ', 'VIF', 'XAL'],
      dtype='object')

In [70]:
for j in range(len(pm10_2019)-1):
    
    for i in range(len(header_list_pm10_2019)-2):
        date = pd.to_datetime(pm10_2019.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm10_2019.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm10_2019[i+2]]['nom_estac'].values[0],
        'Valor': pm10_2019.loc[j][i+2]}
        df_pm10_2019_v4 = df_pm10_2019_v4.append(toAppend, ignore_index=True)

In [73]:
for j in range(len(pm10_2020)-1):
    
    for i in range(len(header_list_pm10_2020)-2):
        date = pd.to_datetime(pm10_2020.loc[j][0])
        toAppend = { 
        'Dia': date.day, 
        'Mes': date.month,
        'Anio': date.year,
        'Hora': pm10_2020.loc[j][1], 
        'Lugar': cat_estacion.loc[cat_estacion['cve_estac'] == header_list_pm10_2020[i+2]]['nom_estac'].values[0],
        'Valor': pm10_2020.loc[j][i+2]}
        df_pm10_2020_v4 = df_pm10_2020_v4.append(toAppend, ignore_index=True)

In [74]:
df_pm10_2020_v4

       Dia Mes  Anio Hora                Lugar Valor
0        1   1  2020    1              Acolman   -99
1        1   1  2020    1         Ajusco Medio   -99
2        1   1  2020    1             Atizapan   102
3        1   1  2020    1        Benito Juarez    62
4        1   1  2020    1            Camarones   -99
...     ..  ..   ...  ...                  ...   ...
293673  31  12  2020   23         Tlalnepantla    33
293674  31  12  2020   23            Tultitlan   -99
293675  31  12  2020   23       UAM Iztapalapa    42
293676  31  12  2020   23  Villa de las Flores   178
293677  31  12  2020   23             Xalostoc   -99

[293678 rows x 6 columns]

In [91]:
from pathlib import Path  
filepath = Path('E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2011_2020.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_2_pm10.to_csv(filepath)

In [85]:
pm10_2011_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2011.csv")
pm10_2012_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2012.csv")
pm10_2013_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2013.csv")
pm10_2014_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2014.csv")
pm10_2015_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2015.csv")
pm10_2016_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2016.csv")
pm10_2017_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2017.csv")
pm10_2018_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2018.csv")
pm10_2019_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2019.csv")
pm10_2020_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2020.csv")

In [86]:
df_pm10_2011_m = pd.DataFrame(pm10_2011_m)
df_pm10_2012_m = pd.DataFrame(pm10_2012_m)
df_pm10_2013_m = pd.DataFrame(pm10_2013_m)
df_pm10_2014_m = pd.DataFrame(pm10_2014_m)
df_pm10_2015_m = pd.DataFrame(pm10_2015_m)
df_pm10_2016_m = pd.DataFrame(pm10_2016_m)
df_pm10_2017_m = pd.DataFrame(pm10_2017_m)
df_pm10_2018_m = pd.DataFrame(pm10_2018_m)
df_pm10_2019_m = pd.DataFrame(pm10_2019_m)
df_pm10_2020_m = pd.DataFrame(pm10_2020_m)

In [87]:
df_2_pm10 = pd.DataFrame()
df_2_pm10 = df_2_pm10.append(df_pm10_2011_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2012_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2013_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2014_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2015_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2016_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2017_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2018_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2019_m, ignore_index=True)
df_2_pm10 = df_2_pm10.append(df_pm10_2020_m, ignore_index=True)

In [89]:
df_2_pm10 = df_2_pm10.drop(df_2_pm10.columns[0], axis=1)

In [92]:
co_f = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2011_2020.csv")
pm10_f = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm10_2011_2020.csv")
pm25_f = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\pm25_2011_2020.csv")

In [160]:
co_f_v2 = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2011_2020_v2.csv")

In [161]:
df_co_f_v2 = pd.DataFrame(co_f_v2)

In [93]:
df_co_f = pd.DataFrame(co_f)
df_pm10_f = pd.DataFrame(pm10_f)
df_pm25_f = pd.DataFrame(pm25_f)

In [162]:
df_co_f_v2['Particula'] = "CO"

In [163]:
df_co_f_v2 = df_co_f_v2[['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Particula', 'Valor']]

In [164]:
df_co_f_v2

         Dia  Mes  Anio  Hora                Lugar Particula  Valor
0          1    1  2011     1              Acolman        CO  -99.0
1          1    1  2011     1            Camarones        CO  -99.0
2          1    1  2011     1               Chalco        CO  -99.0
3          1    1  2011     1           Cuajimalpa        CO  -99.0
4          1    1  2011     1          FES Acatlan        CO    1.4
...      ...  ...   ...   ...                  ...       ...    ...
2483688   31   12  2020    23            Tultitlan        CO  -99.0
2483689   31   12  2020    23       UAM Xochimilco        CO    0.1
2483690   31   12  2020    23       UAM Iztapalapa        CO    0.3
2483691   31   12  2020    23  Villa de las Flores        CO    1.7
2483692   31   12  2020    23             Xalostoc        CO  -99.0

[2483693 rows x 7 columns]

In [165]:
df_2_f = pd.DataFrame()
df_2_f = df_2_f.append(df_co_f_v2, ignore_index=True)
df_2_f = df_2_f.append(df_pm10_f, ignore_index=True)
df_2_f = df_2_f.append(df_pm25_f, ignore_index=True)

In [166]:
df_2_f

         Dia  Mes  Anio  Hora                Lugar Particula  Valor
0          1    1  2011   1.0              Acolman        CO  -99.0
1          1    1  2011   1.0            Camarones        CO  -99.0
2          1    1  2011   1.0               Chalco        CO  -99.0
3          1    1  2011   1.0           Cuajimalpa        CO  -99.0
4          1    1  2011   1.0          FES Acatlan        CO    1.4
...      ...  ...   ...   ...                  ...       ...    ...
6489022   31   12  2020  23.0         Tlalnepantla     PM2.5   33.0
6489023   31   12  2020  23.0            Tultitlan     PM2.5  -99.0
6489024   31   12  2020  23.0       UAM Iztapalapa     PM2.5   42.0
6489025   31   12  2020  23.0  Villa de las Flores     PM2.5  178.0
6489026   31   12  2020  23.0             Xalostoc     PM2.5  -99.0

[6489027 rows x 7 columns]

In [167]:
from pathlib import Path  
filepath = Path('E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\aire_2011_2020_v2.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_2_f.to_csv(filepath)

In [116]:
df_2_f['Dia'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [117]:
df_2_f['Mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [118]:
df_2_f['Anio'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [119]:
df_2_f['Hora'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24.])

In [136]:
df_co_2020_m['Lugar'].unique()

array(['Acolman', 'Ajusco Medio', 'Atizapan', 'Benito Juarez',
       'Camarones', 'Centro de Ciencias de la Atmosfera', 'Chalco',
       'Cuajimalpa', 'FES Acatlan', 'FES Aragon',
       'Hospital General de Mexico', 'Investigaciones Nucleares',
       'Iztacalco', 'Los Laureles', 'La Presa', 'Merced',
       'Miguel Hidalgo', 'Montecillo', 'Milpa Alta', 'Nezahualcoyotl',
       'Pedregal', 'San Agustin', 'Santiago Acahualtepec', 'Santa FE',
       'San Juan Aragon', 'Tlahuac', 'Tlalnepantla', 'Tultitlan',
       'UAM Xochimilco', 'UAM Iztapalapa', 'Villa de las Flores',
       'Xalostoc'], dtype=object)

In [125]:
co_2011_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2011.csv")
co_2012_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2012.csv")
co_2013_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2013.csv")
co_2014_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2014.csv")
co_2015_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2015.csv")
co_2016_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2016.csv")
co_2017_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2017.csv")
co_2018_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2018.csv")
co_2019_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2019.csv")
co_2020_m = pd.read_csv("E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co\\co_2020.csv")

In [126]:
df_co_2011_m = pd.DataFrame(co_2011_m)
df_co_2012_m = pd.DataFrame(co_2012_m)
df_co_2013_m = pd.DataFrame(co_2013_m)
df_co_2014_m = pd.DataFrame(co_2014_m)
df_co_2015_m = pd.DataFrame(co_2015_m)
df_co_2016_m = pd.DataFrame(co_2016_m)
df_co_2017_m = pd.DataFrame(co_2017_m)
df_co_2018_m = pd.DataFrame(co_2018_m)
df_co_2019_m = pd.DataFrame(co_2019_m)
df_co_2020_m = pd.DataFrame(co_2020_m)

In [137]:
df_co_2012_v5 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])
df_co_2013_v5 = pd.DataFrame(columns=['Dia', 'Mes', 'Anio', 'Hora', 'Lugar', 'Valor'])

In [150]:
df_2_co_v2 = pd.DataFrame()
df_2_co_v2 = df_2_co_v2.append(df_co_2011_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2012_v5, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2013_v5, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2014_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2015_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2016_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2017_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2018_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2019_m, ignore_index=True)
df_2_co_v2 = df_2_co_v2.append(df_co_2020_m, ignore_index=True)

In [155]:
df_2_co_v2 = df_2_co_v2.drop(df_2_co_v2.columns[0], axis=1)

In [174]:
df_2_f['Dia'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [175]:
df_2_f['Mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [176]:
df_2_f['Anio'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [177]:
df_2_f['Lugar'].unique()

array(['Acolman', 'Camarones', 'Chalco', 'Cuajimalpa', 'FES Acatlan',
       'Iztacalco', 'Los Laureles', 'La Presa', 'Merced', 'Montecillo',
       'Nezahualcoyotl', 'Pedregal', 'San Agustin', 'San Juan Aragon',
       'Santa Ursula', 'Tlahuac', 'Tlalnepantla', 'Tultitlan', 'Tlalpan',
       'UAM Iztapalapa', 'Villa de las Flores', 'Xalostoc',
       'Hospital General de Mexico', 'Santa FE', 'UAM Xochimilco',
       'Atizapan', 'Centro de Ciencias de la Atmosfera', 'Ajusco Medio',
       'Benito Juarez', 'Investigaciones Nucleares', 'Miguel Hidalgo',
       'Milpa Alta', 'Cuautitlan', 'FES Aragon', 'Santiago Acahualtepec',
       'Gustavo A. Madero'], dtype=object)

In [178]:
df_2_f['Particula'].unique()

array(['CO', 'PM10', 'PM2.5'], dtype=object)

In [179]:
df_2_f

         Dia  Mes  Anio  Hora                Lugar Particula  Valor
0          1    1  2011   1.0              Acolman        CO  -99.0
1          1    1  2011   1.0            Camarones        CO  -99.0
2          1    1  2011   1.0               Chalco        CO  -99.0
3          1    1  2011   1.0           Cuajimalpa        CO  -99.0
4          1    1  2011   1.0          FES Acatlan        CO    1.4
...      ...  ...   ...   ...                  ...       ...    ...
6489022   31   12  2020  23.0         Tlalnepantla     PM2.5   33.0
6489023   31   12  2020  23.0            Tultitlan     PM2.5  -99.0
6489024   31   12  2020  23.0       UAM Iztapalapa     PM2.5   42.0
6489025   31   12  2020  23.0  Villa de las Flores     PM2.5  178.0
6489026   31   12  2020  23.0             Xalostoc     PM2.5  -99.0

[6489027 rows x 7 columns]

In [185]:
type(df_2_f['Mes'][0])

numpy.int64

In [159]:
from pathlib import Path  
filepath = Path('E:\\7mo\\TT1\\Datos_aire\\Contaminantes\\csv_modificados\\co_2011_2020_v2.csv')  

filepath.parent.mkdir(parents=True, exist_ok=True)  

df_2_co_v2.to_csv(filepath)